* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --font-primary: "Poppins", sans-serif;
    --font-second: "Sora", sans-serif;
    --bg-primary: #000958;
    --bg-second: #ff5b2e;
}
body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background: #fffaf5;
}
/* Common */
input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.btn {
    --height: 56px;
    display: inline-block;
    padding: 0 16px;
    min-width: 246px;
    height: var(--height);
    line-height: var(--height);
    color: var(--bg-second);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    border: 1px solid var(--bg-second);
    border-radius: 999px;
}
.section-heading {
    color: #000958;
    font-family: var(--font-second);
}
.lv1 {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}
.lv2 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}
.section-desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.87;
}
.btn__chevron-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: #fffaf5;
    border-radius: 50%;
}
.section-label {
    color: #5e6085;
    text-align: center;
    font-family: var(--font-second);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}
/*========== Header ==========*/
.header.fixed {
    position: sticky;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 999;
}
.header {
    padding: 26px 0;
}
.header-inner {
    display: flex;
    align-items: center;
}
.header__nav {
    margin-left: 211px;
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__link,
.header__action__sign-in {
    padding: 10px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}
.nav__link.active,
.nav__link:hover {
    color: var(--bg-primary);
    font-size: 1.4rem;
    text-shadow: 1px 0 0 currentColor;
}
.header__action {
    margin-left: auto;
}
.header__action__sign-up {
    --height: 50px;
    min-width: 117px;
    font-size: 1.4rem;
    font-weight: 600;
    border-color: rgba(0, 9, 88, 0.7);
    color: var(--bg-primary);
}
/*========== Hero ==========*/
.hero {
    margin-top: 74px;
}
.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 120px;
}
.hero__media {
    padding-bottom: 94px;
    position: relative;
    display: flex;
}
.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}
.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}
.hero__decor {
    position: absolute;
    z-index: -1;
}
.hero__decor-left {
    left: -58px;
    bottom: 10px;
}
.hero__decor-right {
    right: -43px;
    top: 17px;
}
.hero__img-wrap-small {
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    align-self: flex-end;
    background: #faa7ad;
    border: 2px solid #fad9dc;
}
.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    padding: 18px 14px;
    width: 250px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.hero-item {
    display: flex;
    column-gap: 10px;
}
.hero-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
}
.hero-item:last-child .hero-item__thumb {
    background: #c6e2fa;
}
.hero-item__title {
    padding-top: 2px;
    color: #181e52;
    font-family: var(--font-second);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}
.hero-item__skeleton {
    margin-top: 7px;
    height: 4px;
    width: var(--width, 118px);
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}
.hero-item__separate {
    margin: 20px 0;
    width: 100%;
    height: 3px;
    background: #f2f2f2;
    border-radius: 99px;
}
/* Hero-content */
.hero__desc {
    width: 391px;
}
.hero__cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.hero__cta__btn {
    --height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    min-width: 189px;
    background: var(--bg-second);
    color: #fff;
    border-radius: 31px;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.hero__cta__link {
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
}
/*=========== About =============*/
.about {
    margin-top: 138px;
}
.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 130px;
}

/* Row-top */
/* About-content */
.about__label {
    color: #5e6085;
    font-family: var(--font-second);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}
.about__heading {
    margin-top: 15px;
    width: 446px;
}
.about__desc {
    width: 431px;
}
.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: flex-start;
    gap: 36px;
}
.about__check-item {
    position: relative;
    display: flex;
    column-gap: 10px;
    align-items: center;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}
.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: var(--bg-second);
    border-radius: 3px;
}
.about__check-item::after {
    position: absolute;
    top: 2px;
    left: 5px;
    content: url(../icon/check.svg);
}
/* About-media*/
.about__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: auto;
    width: 494px;
}
.about__img-wrap::after {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}
.about__img {
    width: 450px;
}
.about__decor {
    position: absolute;
    z-index: -1;
    top: 150px;
    right: -72px;
}
.about__card {
    position: absolute;
    padding: 30px 26px;
    top: 165px;
    left: -92px;
    width: 136px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
}
.about__card::before {
    position: absolute;
    top: -40px;
    right: -33px;
    content: url(../icon/about-decor-01.svg);
}
.about__card-title {
    color: #fff;
    text-align: center;
    font-family: var(--font-second);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}
.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.43;
}
/* Row-bottom */
/* About-content */
.about__img-wrap-bottom {
    margin-left: 0;
    width: 458px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
}
.about__img-wrap-bottom::after {
    display: none;
}
.about__img-bottom {
    width: 100%;
}
.about__decor-bottom {
    position: absolute;
}
.about__decor-bottom:nth-child(1) {
    top: 13px;
    right: 64px;
}
.about__decor-bottom:nth-child(2) {
    top: -16px;
    right: 13px;
}
.about__decor-bottom:nth-child(3) {
    top: 33px;
    right: -21px;
}
.about__decor-bottom:nth-child(4) {
    top: 268px;
    right: -30px;
}
.about__decor-bottom:nth-child(5) {
    top: 336px;
    right: 19px;
}
.about__decor-bottom:nth-child(6) {
    right: -42px;
    bottom: -55px;
}
/* About-content */
.about__heading-bottom,
.about__desc-bottom {
    width: var(--width, 516px);
}
.about__desc-bottom {
    margin-bottom: 52px;
}
.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
    align-items: center;
}
.tab__list::after,
.tab__item--active::after,
.tab__content-item__view-more::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    opacity: 0.07;
    background: #ff5b2e;
    border-radius: 99px;
}
.tab__item {
    position: relative;
    padding-bottom: 11px;
    display: flex;
    column-gap: 12px;
    align-items: center;
}
.tab__item--active::after {
    width: 95px;
    opacity: 1;
    background: #ff5b2e;
}
.tab__item__icon {
    width: 30px;
}
.tab__content-item {
    display: none;
}
.tab__content-item__desc {
    margin-top: 0;
    padding: 36px 0 32px;
    width: 391px;
    font-size: 1.4rem;
    line-height: 1.71;
}
.tab__content-item--active {
    display: block;
}
.tab__content-item__view-more {
    position: relative;
    padding-bottom: 5px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}
.tab__content-item__view-more::after {
    height: 1.5px;
    opacity: 1;
}
/* ========== Service ========== */
.service {
    margin-top: 190px;
    padding: 68px 0 100px;
    background: #fff6ed;
}
.service__heading {
    margin-top: 15px;
    text-align: center;
}
.service__body {
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-item + .service-item {
    margin-top: 24px;
}
.service-item {
    padding: 30px 28px;
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}
.service-item__title {
    padding-left: 12px;
    position: relative;
    color: #000958;
    font-family: var(--font-second);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}
.service-item__title::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    width: 2px;
    height: 22px;
    border-radius: 99px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}
.service-item__desc {
    margin-top: 18px;
    width: 244px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
}
.service-item__more {
    margin-top: 24px;
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
}
.service-item__more span {
    color: #34396a;
    font-family: var(--font-second);
    font-size: 1.2rem;
    line-height: 1;
}

.service__img-wrap {
    overflow: hidden;
    position: relative;
    width: 440px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.service__img-wrap::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
    z-index: 1;
    position: relative;
    width: 100%;
}
.service__btn-wrap {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
.service__btn {
    min-width: 214px;
}
/* ========== Staff ========== */
.staff {
    margin: 130px 0;
}
.staff__heading {
    margin-top: 15px;
    text-align: center;
}
.staff__list {
    margin-top: 45px;
    display: flex;
    column-gap: 35px;
}
.staff-item {
    text-align: center;
}
.staff__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}
.staff__img-wrap::before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 94%;
    border-radius: 130px;
}
.staff-item:nth-child(1) .staff__img-wrap::before {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}
.staff-item:nth-child(2) .staff__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff-item:nth-child(3) .staff__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff-item:nth-child(4) .staff__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff__img-wrap::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-position: bottom;
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.staff-item:nth-child(1) .staff__img-wrap::after {
    background-image: url(../icon/staff-decor-01.svg);
}
.staff-item:nth-child(2) .staff__img-wrap::after {
    background-image: url(../icon/staff-decor-02.svg);
}
.staff-item:nth-child(3) .staff__img-wrap::after {
    background-image: url(../icon/staff-decor-03.svg);
}
.staff-item:nth-child(4) .staff__img-wrap::after {
    background-image: url(../icon/staff-decor-04.svg);
}
.staff-item:nth-child(even) .staff__img-wrap::after {
    background-position: 0 16px;
}
.staff__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 130px;
}
.staff-item__label {
    margin-top: 34px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1;
}
.staff-item__title {
    margin-top: 14px;
    color: var(--bg-primary);
    font-family: var(--font-second);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}
.staff__btn-wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}
.staff__btn {
    min-width: 193px;
}

/* ========== Pricing ========== */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}
.pricing__container {
    width: 994px;
}
.pricing__heading,
.pricing__desc {
    text-align: center;
}
.pricing__desc {
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}
.pricing__switch-wrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}
.pricing__switch {
    position: relative;
}
.pricing__switch::before {
    position: absolute;
    top: -10px;
    right: -112px;
    content: url(../icon/pricing-decor-01.svg);
}
.pricing__switch-label {
    position: relative;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 276px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid rgb(255 91 46 / 60%);
    user-select: none;
    cursor: pointer;
}
.pricing__switch-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 140px;
    height: 100%;
    border-radius: inherit;
    background: #ff5b2e;
}
.pricing__switch-input:checked + .pricing__switch-label::before {
    width: 131px;
    left: initial;
    right: 0;
}
.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-child(2),
.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:nth-child(1) {
    color: #ff5b2e;
}
.pricing__switch-value {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}
.pricing__list {
    margin-top: 56px;
    display: flex;
    column-gap: 44px;
}
.pricing-item {
    padding: 30px 28px;
    flex-grow: 1;
    border-radius: 20px;
    background: #fff;
}
.pricing-item__type {
    color: #ff5b2e;
    font-size: 1.2rem;
    line-height: 1;
}
.pricing-item__title {
    margin-top: 8px;
    color: #3f4065;
    font-family: var(--font-second);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}
.pricing-item__price {
    margin-top: 24px;
    color: #000958;
    font-family: var(--font-second);
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03;
}
.pricing-item__btn {
    --height: 44px;
    margin-top: 22px;
    background: transparent;
    width: 100%;
    cursor: pointer;
    transition: background-color 500ms, color;
}
.pricing-item__btn:hover {
    background-color: var(--bg-second);
    color: #fff;
}
.pricing-item__list {
    margin-top: 24px;
}
.pricing-item__item {
    display: flex;
    column-gap: 12px;
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1;
}
.pricing-item__item::before {
    content: url(../icon/price-check.svg);
}
/* ========== Review ========== */
.review {
    margin-top: 53px;
}
.review__inner {
    display: flex;
    align-items: center;
    column-gap: 45px;
}
.review__body {
    overflow: hidden;
}
.review__list {
    display: flex;
}
.review-item {
    transition: 0.5s;
    transform: translateX(-100%);
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 115px;
}
.review__img-wrap {
    position: relative;
    width: 274px;
    border-radius: 137px;
}
.review__img-wrap::before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 82%;
    border-radius: inherit;
    background: #ffda54;
}
.review__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: inherit;
}
.review-content {
    margin-top: 55px;
    width: 47%;
}
.review-content__desc {
    margin-top: 24px;
    width: 553px;
    color: #000;
    font-size: 1.8rem;
    line-height: 1.55;
}
.review-content__name {
    padding-left: 28px;
    position: relative;
    margin-top: 34px;
    color: #282828;
    font-family: var(--font-second);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}
.review-content__name::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 99px;
}
.review__btn {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 2px solid #ffd1c4;
    background: transparent;
    cursor: pointer;
}
.review__btn:hover,
.review__btn:hover .review__btn__icon {
    background: var(--bg-second);
    border: 2px solid var(--bg-second);
    color: #fff;
}
.review__btn__icon {
    color: var(--bg-second);
}
.review__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
    cursor: pointer;
}
.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #ff5b2e;
    transition: background-color 500ms;
}
.review__dot:hover {
    background-color: var(--bg-second);
}
.review__dot--active {
    width: 24px;
    border-radius: 4px;
    background: #ff5b2e;
}
/*=========== Blog =============*/
.blog {
    margin-top: 130px;
}
.blog__header {
    display: flex;
    column-gap: 512px;
}
.blog__desc {
    margin-top: 0;
    width: 350px;
}
.blog__btn {
    margin-top: 24px;
    min-width: 182px;
    border: 1px solid rgb(255 91 46 / 60%);
}
.blog__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
}
.blog-item__img-wrap {
    padding: 24px 0 0 36px;
    border-radius: 24px;
    background: #90ccff;
}
.blog-item:nth-child(2) .blog-item__img-wrap {
    background: #ff997e;
}
.blog-item:nth-child(3) .blog-item__img-wrap {
    background: #5bd6e2;
}
.blog-item__time {
    color: #fff;
    font-family: var(--font-second);
    font-size: 1.4rem;
    line-height: 1.21;
}
.blog-item__img {
    margin-top: 25px;
    display: block;
    width: 100%;
    height: 296px;
    object-fit: cover;
}
.blog-item__info {
    padding: 28px 16px 0 0;
}
.blog-item__title {
    color: #000958;
    font-family: var(--font-second);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.54;
}
.blog-item__desc {
    margin-top: 16px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
}
